body,
button {
  font-family: "Bebas Neue", cursive;
}

.forspan {
  color: red;
}

body {
  background: url("../library3.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#formElem {
  line-height: 1.7;
  padding-left: 10vh;
  float: left;
}

#inputElem {
  display: inline-block;
}

.hidden {
  transition: opacity 0.7s ease;
  opacity: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
}

.active {
  opacity: 1;
  height: auto;
  z-index: 0;
}

#hiddenFormDiv {
  width: 80vh;
  margin: auto;
  margin-top: 12vh;
}

#userForm {
  padding-top: 10vh;
  margin: auto;
  background-color: rgb(119, 174, 230);
  font-size: 4vh;
  padding-bottom: 10vh;
  border-radius: 4vh;
}

.tables {
  background-color: #b7bfff;
  width: auto;
  margin: auto;
  font-size: 3vh;
  border-radius: 3vh;
  text-align: center;
  box-shadow: black 2px 2px 10px;
}

.input {
  height: 4vh;
  width: 40vh;
  margin: 1vh;
  border-radius: 1.2vh;
  font-size: 3vh;
  font-family: "Bebas Neue", cursive;
}
